@use '../../app/variables';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.title {
  text-align: right;
  margin-bottom: 32px;

  @media screen and (min-width: variables.$tablet) {
    margin-bottom: 56px;
  }
  @media screen and (min-width: variables.$laptop) {
    margin-bottom: 48px;
  }
}

.subtitle {
  font-family: Montserrat-Regular;
  font-size: 14px;
  text-align: end;
  color: variables.$navLinksColor;
  margin: 0 0 32px auto;

  @media screen and (min-width: variables.$tablet) {
    font-size: 18px;
    margin: 0 0 64px auto;
  }
  @media screen and (min-width: variables.$laptop) {
    width: 70%;
    font-size: 24px;
    margin: 0 0 55px auto;
  }
}

.content {
  @media screen and (min-width: variables.$tablet) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    & div {
      width: 50%;
    }
  }
}

.imgContainers {
  position: relative;
  width: 100%;
  height: 60vw;
  margin-bottom: 24px;
  animation: fadeIn 0.8s ease-in-out forwards;
  & img {
    object-fit: cover;
  }
  @media screen and (min-width: variables.$tablet) {
    width: 45%;
    height: 30vw;
    margin-bottom: 0px;
  }
  @media screen and (min-width: variables.$laptop) {
    width: 496px;
    height: 331px;
  }
}

.text {
  font-size: 14px;
  color: variables.$navLinksColor;

  &:not(:last-child) {
    margin-bottom: 18px;
  }

  @media screen and (min-width: variables.$tablet) {
    font-size: 18px;
  }

  @media screen and (min-width: variables.$laptop) {
    width: 85%;
    font-size: 24px;
  }
}
