.ItemSliderTop {
    width: 100%;
    aspect-ratio: 335 / 256;
}

.ItemSliderTop .swiper-wrapper {
    height: calc(100% - 32px);
}

.ItemSliderTop .swiper-slide {
    width: 300px;
    height: 300px;
    height: 100%;
}

.ItemSliderTop .swiper-slide img {
    object-fit: cover;
    object-position: center;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: none;
    -o-transform: translate3d(0, 0, 0);
    transform: none;
    box-shadow: 1px 1px 58.6px 0 rgba(255, 255, 255, 0.05);
}

.ItemSliderTop .swiper-button-prev,
.ItemSliderTop .swiper-button-next {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 32px;
    height: 16px;
    color: transparent;
    bottom: 0;
    top: auto;
}

.ItemSliderTop .swiper-button-prev::after,
.ItemSliderTop .swiper-button-next::after {
    width: 100%;
}

.ItemSliderTop .swiper-button-prev {
    background-image: url("../../../public/images/arrow-left.webp");   
    left: 0;
}

.ItemSliderTop .swiper-button-next {
    background-image: url("../../../public/images/arrow-right.webp");   
    left: 44px;
}


@media screen and (min-width: 744px) {
    .ItemSliderTop {
        aspect-ratio: 616 / 443;
    }

    .ItemSliderTop.swiper .swiper-button-prev { 
        left: calc(100% - 78px); 
    }

    .ItemSliderTop .swiper-button-next {
        left: calc(100% - 32px); 
    }
}


@media screen and (min-width: 1280px) {
    .ItemSliderTop {
        aspect-ratio: 636 / 456;
    }
}