//variables

$mobile: "375px";
$tablet: "744px";
$laptop: "1280px";
// $desktop: "1440px";

// @media screen and (min-width: variables.$mobile)
// @media screen and (min-width: variables.$tablet)
// @media screen and (min-width: variables.$laptop)

$bgColor: #0b0b0d;
$textColor: #cccccc;
$accentColor: #a4d728;
$navLinksColor: #ffffff;

$pageSectionTopPaddingMobile: 68px;
$pageSectionTopPaddingTablet: 112px;
$pageSectionTopPaddingLaptop: 144px;

@mixin imgAnimation {
  animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// variables usage example
// background-color: variables.$bgColor;

// ===

// mixin usage example

// @mixin qwe{
//     color: red;
// }

//module.scss

// someStyle {
//     @include qwe;
//   }
