@use '../../app/variables';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero {
  position: relative;
  padding-bottom: 24px;
  &::before {
    content: '';
    display: block;
    height: 275px;
    background-image: url('../../../public/hero.webp');
    background-size: cover;
    background-position: bottom;
    background-attachment: lazy;
    -webkit-box-shadow: inset 0px -9px 18px 2px rgba(11, 11, 13, 0.91);
    box-shadow: inset 0px -9px 18px 2px rgba(11, 11, 13, 0.91);
    animation: fadeIn 0.8s ease-in-out forwards;
    @media screen and (min-width: variables.$tablet) {
      height: 547px;
    }
    @media screen and (min-width: variables.$laptop) {
      background-position: center;
      height: 100vh;
    }
  }
}

.titleHidden {
  position: absolute;
  white-space: nowrap;
  width: 0px;
  height: 0px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.boardContainer {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  padding: 8px 20px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  &:last-child {
    align-items: flex-end;
  }
  @media screen and (min-width: variables.$tablet) {
    padding: 34px 40px 0px 20px;
  }
  @media screen and (min-width: variables.$laptop) {
    padding: 50px 0px 0px 0px;
  }
}

.imgBoard {
  position: absolute;
  top: -40px;
  left: 20px;
  width: 154px;
  height: 134px;
  animation: fadeIn 0.8s ease-in-out forwards;
  & img {
    object-fit: contain;
  }
  @media screen and (min-width: variables.$tablet) {
    top: -60px;
    left: -14px;
    width: 286px;
    height: 253px;
  }
  @media screen and (min-width: variables.$laptop) {
    top: -160px;
    left: -60px;
    width: 650px;
    height: 564px;
  }
}

.imgArrow {
  position: absolute;
  bottom: 105px;
  left: 4px;
  width: 132px;
  height: 226px;
  transform: rotate(355deg);
  animation: fadeIn 0.8s ease-in-out forwards;
  & img {
    object-fit: contain;
  }
  @media screen and (min-width: 360px) {
    transform: rotate(360deg);
    left: 10px;
  }
  @media screen and (min-width: variables.$mobile) {
    width: 132px;
    height: 226px;
    transform: rotate(0deg);
  }
  @media screen and (min-width: 409px) {
    left: 15px;
  }
  @media screen and (min-width: 430px) {
    left: 30px;
    transform: rotate(380deg);
  }

  @media screen and (min-width: 550px) {
    bottom: 85px;
    left: 40px;
    transform: rotate(380deg);
  }
  @media screen and (min-width: 647px) {
    bottom: 65px;
  }
  @media screen and (min-width: variables.$tablet) {
    bottom: 40px;
    left: 70px;
    width: 258px;
    height: 355px;
    transform: rotate(0deg);
  }
  @media screen and (min-width: 807px) {
    width: 228px;
    height: 325px;
  }
  @media screen and (min-width: 920px) {
    width: 188px;
    height: 285px;
    left: 100px;
  }
  @media screen and (min-width: 1024px) {
    left: 120px;
    bottom: 20px;
  }
  @media screen and (min-width: variables.$laptop) {
    bottom: 100px;
    left: 400px;
    width: 330px;
    height: 402px;
  }
}

.title {
  text-align: end;
  margin-bottom: 24px;
  @media screen and (min-width: variables.$tablet) {
    margin-right: 20%;
    margin-bottom: 34px;
  }
  @media screen and (min-width: variables.$laptop) {
    margin-right: 10%;
    margin-bottom: 59px;
  }
}

.textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 24px;

  font-family: Montserrat-Regular;
  font-size: 14px;
  width: 100%;
  color: variables.$textColor;
  margin-bottom: 24px;
  & li:first-child {
    width: 63%;
    text-align: right;
    margin: 0 0 0 auto;
    @media screen and (min-width: 430px) {
      width: 53%;
    }
    @media screen and (min-width: variables.$tablet) {
      width: 60%;
    }
    @media screen and (min-width: variables.$laptop) {
      width: 40%;
    }
  }
  & li {
    width: 85%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    @media screen and (min-width: 409px) {
      width: 80%;
    }
    @media screen and (min-width: variables.$tablet) {
      width: 70%;
    }
    @media screen and (min-width: variables.$laptop) {
      width: 50%;
      margin: 0 0 0 40%;
    }
  }

  & li:last-child {
    width: 100%;
    text-align: left;
    margin: 0;
    @media screen and (min-width: 430px) {
      width: 70%;
    }
    @media screen and (min-width: variables.$tablet) {
      width: 60%;
    }
    @media screen and (min-width: variables.$laptop) {
      width: 50%;
    }
  }

  @media screen and (min-width: variables.$tablet) {
    font-size: 18px;
    row-gap: 40px;
  }
  @media screen and (min-width: variables.$laptop) {
    font-size: 24px;
    row-gap: 50px;
  }
}

#btn {
  font-size: 24px;
  @media screen and (min-width: variables.$tablet) {
    position: absolute;
    bottom: 24px;
    right: 40px;
    font-size: 32px;
    padding: 10px;
  }
  @media screen and (min-width: variables.$laptop) {
    font-size: 40px;
    padding: 10px 20px;
  }
}
