@use "../../app/variables";

.header {
  position: fixed;
  z-index: 100;

  height: 48px;
  background-color: rgba(0, 0, 0, 0.2);

  @media screen and (min-width: variables.$tablet) {
    height: 80px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
