@use '../../app/variables';

.sectionContainer {
    padding-top: 68px;

    @media screen and (min-width: variables.$tablet) {
        padding-top: 78px;
        padding-bottom: 40px;
    }
  
    @media screen and (min-width: variables.$laptop) {
      padding: 142px 60px 80px;
    }
}

.title {
    text-align: center;
}