@use "../../app/variables";

.section {
    display: flex;
    flex-direction: column;
    padding-top: variables.$pageSectionTopPaddingMobile;
    padding-bottom: 32px;
    background-image: url("../../../public/images/cetificatesBgImage.webp");
    background-attachment: lazy;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-width: variables.$tablet) {
        padding-top: variables.$pageSectionTopPaddingTablet;
        padding-bottom: 48px;
    }
    @media (min-width: variables.$laptop) {
        padding-top: variables.$pageSectionTopPaddingLaptop;
        padding-bottom: 108px;
    }
}

.title {
    text-align: center;
}

.documentWrap {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 24px;
    width: 85%;

    @media (min-width: variables.$tablet) {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 77%;
    }
    @media (min-width: variables.$laptop) {
        margin-top: 95px;
    }
}

.firstBox {
    width: 100%;
}

.innerBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media (min-width: variables.$tablet) {
        flex-direction: row;
        column-gap: 16px;
    }
    @media (min-width: variables.$laptop) {
        column-gap: 2%;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }
}

.documentLink {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 250ms;
    -o-transition: 250ms;

    transition: 250ms;
    &:hover,
    &:focus {
        -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
        transform: scale(1.04);
    }
}

.imageWrapFirst {
    overflow: hidden;
    position: relative;

    aspect-ratio: 3.1 / 2.2;
    width: 100%;
    height: auto;

    @media (min-width: variables.$laptop) {
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }
}

.imageWrap {
    overflow: hidden;
    position: relative;

    aspect-ratio: 2.2 / 3;
    width: 100%;
    height: auto;
}

.image {
    border: 1px solid #999999;

    -o-object-fit: cover;

    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}
