@use "../../app/variables";

.socLinks {
  display: flex;
  justify-content: center;
  gap: 16px;

  @media screen and (min-width: variables.$tablet) {
    margin-bottom: 32px;
  }
}

.socLinkItem {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  & img {
    object-fit: contain;
  }

  &:focus,
  &:hover {
    scale: 1.1;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.613);
  }

  @media screen and (min-width: variables.$tablet) {
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: variables.$laptop) {
    width: 48px;
    height: 48px;
  }
}

.facebook {
  filter: invert(23%) sepia(99%) saturate(2743%) hue-rotate(203deg)
    brightness(98%) contrast(102%);
}

.linkedIn {
  filter: invert(16%) sepia(77%) saturate(3309%) hue-rotate(200deg)
    brightness(94%) contrast(99%);
}

.instagram {
  filter: invert(30%) sepia(78%) saturate(632%) hue-rotate(314deg)
    brightness(97%) contrast(98%);
}
