@use "../../../app/variables";

.mobMenu {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 48px;
  left: 0;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;

  @media screen and (min-width: variables.$tablet) {
    top: 80px;
  }
}

.mobMenuNone {
  display: none;
}

.content {
  font-size: 24px;
  color: variables.$bgColor;

  background-color: variables.$navLinksColor;

  padding: 20px 20px 40px;
  margin-left: auto;

  // height: 100%;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;

  transform: translateX(100%);
  opacity: 0;

  @media screen and (min-width: 500px) {
    width: 80%;
    max-width: 400px;
  }
}

.contentVisible {
  opacity: 1;
  transform: translateX(0%);
}

// .languages {
//   margin-bottom: 40px;
//   display: flex;
//   gap: 20px;

//   & li {
//     cursor: pointer;
//     color: variables.$accentColor;
//     text-transform: uppercase;

//     &:focus,
//     &:hover {
//       font-weight: 900;
//       text-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.5);
//     }
//   }
// }

.languages {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;

  & li {
    cursor: pointer;
    color: variables.$accentColor;
    text-transform: uppercase;

    &:focus,
    &:hover {
      font-weight: 900;
      text-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.5);
    }
  }

  @media screen and (min-width: variables.$mobile) {
    justify-content: flex-start;
    gap: 20px;
  }
}

.nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 40px;

  & a {
    &:hover,
    &:focus {
      padding-left: 54px;
      font-weight: 900;

      text-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.5);
    }
  }
}
