@use '../../app/variables';


.section {
    padding-top: variables.$pageSectionTopPaddingMobile;
    // padding-bottom: 32px;

    @media screen and (min-width: variables.$tablet) {
        padding-top: variables.$pageSectionTopPaddingTablet;
        // padding-left: 64px;
        // padding-right: 64px;
        // padding-bottom: 48px;
    }

    @media screen and (min-width: variables.$laptop) {
        padding-top: variables.$pageSectionTopPaddingLaptop;
        // padding-left: 50px;
        // padding-right: 50px;
        // padding-bottom: 80px;
    }
}

.backBtn {
    margin-bottom: 32px;

    @media screen and (min-width: variables.$tablet) {
        margin-bottom: 48px;
    }

    @media screen and (min-width: variables.$laptop) {
        margin-bottom: 40px;
    }
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @media screen and (min-width: variables.$tablet) {
         row-gap: 40px;
    }

    @media screen and (min-width: variables.$laptop) {
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        row-gap: 0px;
    }
}

.sliderWrap {
    padding: 100px;
    aspect-ratio: 335 / 248;
    border: 1px solid white;
    text-align: center;

    @media screen and (min-width: variables.$tablet) {       
        aspect-ratio: 616 / 434;
    }

    @media screen and (min-width: variables.$laptop) {
        width: 640px;
        height: 448px;        
    }
}

.description {

    @media screen and (min-width: variables.$tablet) {
        font-size: 20px;
    }

    @media screen and (min-width: variables.$laptop) {
        width: 500px;
    }

}