@use '../../app/variables';


.section {
    padding-top: variables.$pageSectionTopPaddingMobile;

    @media screen and (min-width: variables.$tablet) {
        padding-top: variables.$pageSectionTopPaddingTablet;
    }

    @media screen and (min-width: variables.$laptop) {
        padding-top: variables.$pageSectionTopPaddingLaptop;
    }
}

.backBtn {
    margin-bottom: 32px;

    @media screen and (min-width: variables.$tablet) {
        margin-bottom: 48px;
    }

    @media screen and (min-width: variables.$laptop) {
        margin-bottom: 40px;
    }
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media screen and (min-width: variables.$tablet) {
         row-gap: 32px;
    }

    @media screen and (min-width: variables.$laptop) {
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        row-gap: 0px;
    }
}

.description {

    @media screen and (min-width: variables.$tablet) {
        font-size: 20px;
    }

    @media screen and (min-width: variables.$laptop) {
        width: 500px;
    }
}